.navbar {
    display : grid;
    grid-template-columns: repeat(5, 1fr);

    background-color: rgb(255, 217, 147);
    font-size : 1.5rem;
}


.navbar .link {
    text-justify: center;
    margin-left : auto;
    margin-right : auto;
}

.navbar .link:hover {
    color : rgb(87, 98, 255);
}